/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #4a9091;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.bar {
  fill: #4a9091;
}

.line {
  stroke: black;
  fill: none;
}

.selected {
  fill: #d5aa4b;
}

.bar:hover {
  fill: #ccc;
}
tr:hover {
  background-color: #ccc;
}

#PaperTypeButton,
#EvaluationTypeButton,
#VisTypeButton,
#YearButton {
  background-color: #d5aa4b !important;
}

/* body {
  font-family: "Times New Roman";
  font-size: 18px;
}

.yaxis,
.xaxis {
  font-family: "Times New Roman";
  font-size: 14px;
} */
