table.dataTable thead th {
  border-bottom: 0;
  text-align: center;
}
table.dataTable tfoot th {
  border-top: 0;
}

.page-table td, .table th {
  border-top: 0
}

.page-table td:hover {
    background-color: #ccc !important;
}

.bold {
  font-weight: bold;
}

table {
  overflow: hidden;
}

.tab {
  padding: 0.01em 16px
}

#id01 .w3-modal-content{
  width: 80%;
}
/* tr:hover {
  background-color: #006600;
} */

/* td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #006600;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
} */