table {
  empty-cells: hide;
}

.hovered {
  background-color: #ccc;
}

.selected {
  background-color: #a6bddb;
}

#MidLevelButton,
#LowLevelButton,
#TargetButton {
  background-color: #a6bddb !important;
}
