/* Style the dots by assigning a fill and stroke */
.dot {
  fill: black;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.line {
  stroke: black;
  fill: none;
}

.selected {
  fill: red;
}
